@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
}

.swal2-popup {
    font-size: 2rem;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: "AngelineVintage";
    src: url("../fonts/Angeline Vintage_Demo.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.background {
    width: 100vw;
    height: 100vh;
    background-color: #009C8E;
}

.choice {
    width: 100%;
    height: 100%;
	background: url("../img/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.logo-choice {
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-family: "Montserrat";
    margin-top: 30vh;
}

.logo-choice > p {
    margin-top: 5vh;
    line-height: 6vh;
}

.logo-choice > p > span {
    font-family: "AngelineVintage";
    font-size: 36px;
}


.logo-choice > img {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(0px 10px 10px rgb(119, 119, 119));
}

.btn {
    width: 75vw;
    padding: 11px;
    border: 1px solid #fff;
    border-radius: 20px;
    cursor: pointer;
}

.button-group {
    text-align: center;
    margin-top: 8vh;
}

.button-group > * {
    font-family: "Roboto";
}

.siup {
    background-color: #7b50c8;
    color: #fff;
    border: 1px solid #7b50c8;
    border-bottom: 3px solid rgb(92, 92, 92);
    cursor: pointer;
}

.log {
    background: #fff;
    color: #009C8E;
    border: 1px solid #009C8E;
    border-bottom: 3px solid rgb(128, 128, 128);
}


.siup:hover {
    background: #6340a0;
    color: #fff;
    border: 1px solid #6340a0;
    border-bottom: 3px solid rgb(92, 92, 92);
}

.log:hover {
    background: rgb(228, 228, 228);
    color: #009C8E;
    border: 1px solid #009C8E;
    border-bottom: 3px solid rgb(92, 92, 92);
}

.hidden {
    display: none;
}

.login {
    width: 100%;
    height: 100%;
    background: url("../img/bg3.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin-left: -100vw;
}

.logo-login {
    text-align: center;
    color: #fff;
}

.logo-login > * {
    margin-top: 20vh;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(0px 10px 10px rgb(119, 119, 119));
}

.login > form {
    width: 75vw;
    margin: 0 auto;
    margin-top: 14vh;
}

.login > form > a {
    cursor: pointer;
}

.input {
    width: 100%;
    height: 2vh;
    padding-bottom: 2vh;
    padding-top: 2vh;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    font-size: 20px;
    color: #fff;
    outline:0;
}

.label {
    font-size: 12px;
    color: #fff;
}

.login > form > a {
    float: right;
    margin-top: 2vh;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
}

.input-icon {
    position: relative;
}
.input-icon input {
    text-indent: 30px;
}


.input-icon .fa-user, .input-icon .fa-lock, .input-icon .fa-envelope {
    position: absolute;
    top: 30px;
    left: 7px;
    font-size: 15px;
    color: #fff;
}

.login > form > .btn {
    font-family: "Roboto";
    margin-top: 2vh;
    background-color: #7b50c8;
    color: #fff;
    border: 1px solid #7b50c8;
    border-bottom: 3px solid rgb(92, 92, 92);
}

.login > form > .btn:hover {
    background: #6340a0;
    color: #fff;
    border: 1px solid #6340a0;
    border-bottom: 3px solid rgb(92, 92, 92);
}

.logo-login {
    text-align: center;
    color: #fff;
}

.logo-signup > * {
    margin-top: 5vh;
}

.signup {
    width: 100%;
    height: 100%;
    background: url("../img/bg4.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin-left: -100vw;
}

.signup > form {
    width: 75vw;
    margin: 0 auto;
    margin-top: 6vh;
}

.already {
    margin-top: 2vh;
    font-size: 12px;
    color: #fff;
    text-align: center;
}

.already > a {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.genre-choice > header {
    padding-top: 5vh;
}

.genre-choice > header > .q {
    font-size: 28px;
}

.genre-choice > header > .s-title {
    font-size: 14px;
    color: #bbbbbb;
    display: inline-block;
    margin: 2vh 0;
}

table {
    margin-bottom: 14vh;
}

.cell {
    width: 200px;
}

.genre {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
}

.genre > div > span {
    color: #fff;
    text-align: center;
}

#sound {
    background-image: url("../img/genres/sound.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#photography {
    background-image: url("../img/genres/photography.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#drawing {
    background-image: url("../img/genres/drawing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#design {
    background-image: url("../img/genres/design.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#video {
    background-image: url("../img/genres/video.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#painting {
    background-image: url("../img/genres/painting.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#idea {
    background-image: url("../img/genres/idea.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#writing {
    background-image: url("../img/genres/writing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#motivation {
    background-image: url("../img/genres/motivation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#travel {
    background-image: url("../img/genres/travel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#science {
    background-image: url("../img/genres/science.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#books {
    background-image: url("../img/genres/books.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#health {
    background-image: url("../img/genres/health.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#architecture {
    background-image: url("../img/genres/architecture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.genre > div {
    width: 100%;
    border-radius: 10px;
    padding: 6vh 0;
    cursor: pointer;
}

#sound > div {
    background-color: rgba(0, 156, 142, 0.8);
}

#photography > div {
    background-color: rgba(239, 82, 133, 0.8);
}

#drawing > div {
    background-color: rgba(254, 238, 125, 0.8);
}

#design > div {
    background-color: rgba(165, 223, 249, 0.8);
}

#video > div {
    background-color: rgba(73, 10, 61, 0.8);
}

#painting > div {
    background-color: rgba(252, 157, 154, 0.8);
}

#idea > div {
    background-color: rgba(58, 197, 105, 0.8);
}

#writing > div {
    background-color: rgba(109, 129, 156, 0.8);
}

#motivation > div {
    background-color: rgba(238, 37, 96, 0.8);
}

#travel > div {
    background-color: rgba(0, 223, 252, 0.8);
}

#science > div {
    background-color: rgba(38, 57, 89, 0.8);
}

#books > div {
    background-color: rgba(166, 23, 45, 0.8);
}

#health > div {
    background-color: rgba(0, 128, 255, 0.8);
}

#architecture > div {
    background-color: rgba(79, 149, 59, 0.8);
}

.chosing-genre {
    width: 100%;
    height: 6vh;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    padding: 3vh;
}

.chosing-genre > button {
    background-color: #7b50c8;
    color: #fff;
    border: 1px solid #7b50c8;
    border-bottom: 3px solid rgb(92, 92, 92);
    font-family: "Roboto";
}

.chosing-genre > button:hover {
    background: #6340a0;
    color: #fff;
    border: 1px solid #6340a0;
    border-bottom: 3px solid rgb(92, 92, 92);
}

.fa-check-circle {
    color: #75D701;
    font-size: 17px;
}

#counter {
    float: right;
    font-size: 24px;
    color: #6AAFE6;
}

#myProgress {
    width: 100%;
    display: none;
}
  
#myBar {
    width: 0%;
    height: 1vh;
    background-color: #6AAFE6;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

.home, .genre-choice{
    width: 90%;
    height: 100%;
    background-color: #fff;
    padding: 0 5%;
}

.header {
    width: 100%;
    height: 8vh;
}

.header > span {
    display: inline-block;
    padding: 14px 0;
}

.menu-icon, .plus-icon {
    width: 5%;
    text-align: center;
    cursor: pointer;
}

.header-title {
    font-size: 20px;
    width: 87%;
    text-align: center;
}

.post > header {
    padding: 7px 0;
   
}

.uimg > img {
    border-radius: 50%;
}

.post > header > span {
    width: 77%;
    font-size: 10px;
    font-family: "RobotoBold";
    display: inline-block;
    padding: 10px 10px;
}

.uimg {
    float: left;
}

.time {
    width: 5% !important;
    padding: 10px 0px !important;
}

.float-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0px 0px 10px gray;
    width: 80%;
    height: 100vh;
    margin-left: -100vw;
}

.float-menu > div > * {
	display: block;
	color: black;
    padding: 5vw 3vw 5vw 3vw;
    margin-left: 10%;
    margin-top: 5%;
    cursor: pointer;
}

.float-menu > div {
    margin-top: 7vh;
}

.float-menu > div > span > i {
    margin-right: 2vh;
}

.verify {
    text-align: center;
}

.label2 {
    color: #fff;
}

.input2 {
    width: 26vw;
    height: 5vh;
    border: 2px solid #6340a0;
    border-radius: 10px;
    margin-top: 3vh;
    font-size: 28px;
    color: #6340a0;
    text-indent: 0px !important;
    padding: 0 5vw;
}

.verify > form > .btn {
    margin-top: 0;
}